body {
    height: 100vh;
    background-image: url("/imgs/background.jpg");
    background-size: cover;
    display: flex;
    justify-content: cover;
    flex-direction: column;
    background-repeat:no-repeat
}
header {
    text-align: center;
}
.search {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
#pagination {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
#container {
    margin-top: 5%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card {
    background-color: rgba(160, 172, 184, 0.61);
    color: rgb(0, 0, 0);
    backdrop-filter: blur(2px);
    width: 300px;
    height: 200px;
}
