body {
    height: 100%;
    background-image: url("/imgs/background.jpg");
    background-size: cover;
    display: flex;
    justify-content: cover;
    flex-direction: column;
    background-repeat:no-repeat
}
header {
    text-align: center;
}
.search {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
#container {
    margin-top: 5%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card {
    background-color: rgba(160, 172, 184, 0.564);
    color: rgb(69, 2, 2);
}
